<footer
  class="d-flex flex-column justify-content-center bg-smoky-black mb-0 py-3"
  id="contato"
>
  <div class="container text-light text-center pt-3 pb-2">
    <!-- <h2 class="text-lg-center fs-1">Contato</h2> -->

    <h2 class="fs-1 mb-4">Contato</h2>
    <!-- <ul
    class="list-unstyled fs-5 d-lg-flex justify-content-center g-4 ps-0 fs-1"
  > -->
    <ul class="list-unstyled g-4 ps-0 fs-5 mb-5">
      <!-- <li class="mx-lg-3 ps-0 m-0"> -->
      <li class="ps-0 m-0 mb-4">
        <a
          href="https://www.instagram.com/amandaia_/"
          target="_blank"
          class="contact ps-0"
          ><i class="fa-brands fa-instagram"></i>&nbsp;amandaia_</a
        >
      </li>
      <!-- <li class="mx-lg-3"> -->
      <li class="mb-4">
        <a href="https://wa.me/5511988558625" target="_blank" class="contact">
          <i class="fa-brands fa-whatsapp"></i>&nbsp;(11) 98855-8625
        </a>
      </li>
      <!-- <li class="mx-lg-3"> -->
      <li class="mb-4">
        <a
          href="mailto:amanda.ialamov@gmail.com"
          target="_blank"
          class="contact"
        >
          <i class="fa-regular fa-envelope"></i>&nbsp;amanda.ialamov@gmail.com
        </a>
      </li>
      <!-- <div class="d-inline">&nbsp;&nbsp;&nbsp;</div> -->
    </ul>
    <!-- <h2 class="fs-3 mb-4">Enviar uma mensagem</h2>
  <form action="/" method="POST" class="m-0 p-0">
    <div class="mb-3 fs-4">
      <label for="email" class="form-label">Seu email</label>
      <input
        type="email"
        class="form-control"
        name="user[email]"
        id="email"
        placeholder="nome@exemplo.com"
      />
    </div>
    <div class="mb-4 fs-4">
      <label for="msg" class="form-label">Mensagem</label>
      <textarea
        class="form-control"
        name="user[msg]"
        id="msg"
        rows="3"
      ></textarea>
    </div>
    <button class="btn see-more-white fs-4 text-light" type="submit">
      Enviar
    </button>
  </form> -->
  </div>
</footer>
